<template name="postAssessmentPrompt">
    <div class="titlebar">
        <b>{{currentUser.firstname}}'s Journey</b>
    </div>
    <div class="content container">
    <div class="profileCard">
    <h3 class="text-center">Continue on Oji’s Journey℠!</h3>
    </div>
    <div class="profileCard text-center">
        <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/791496182?h=1a156df25a&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Instruction.mp4Ip4.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        <button id="startJourney" class="startJourney btn btn-primary startAssessment">Continue Your Journey</button>
        <button id="view-transcript" class="btn btn-primary">View Transcript</button>
    </div>
    <div class="profileCard" id="transcript" hidden>
    <br>
    <p>Now that you completed the first part of your journey and have an idea about your treatment needs (visit the Assessment Center to see your scores), you will complete a series of modules that will help you follow the rules and change your typical pattern of thinking and acting so you can have the best chance of completing community supervision successfully and live a more fulfilling life. The modules are assigned by your supervision officer or counselor, and you may be asked to complete different modules than your friends or peers on supervision. If you need to pause your work on a module, you may log out and finish later. Your progress will be saved and you will pick up where you left off.</p>
    <p>You will need to do a lot of the work on your own but will have some guidance from your supervision officer or counselor. You will be asked to read information and then complete activities that help you apply the information. You should practice the skills you read about in your everyday life, not just when working in the app. Most modules also have a multiple-choice quiz after each module to make sure you learned all the important stuff. Passing the quiz means you can move on to the next module. If you don’t pass, it simply means you need to review some material again before moving on. As you work through the program, you will also earn completion certificates. If you need help reading, the text can be read to you using the audio accessibility feature or ask a trusted person in your social circle to help you.</p>
    <p>There are several points to keep in mind as you make progress. Review these carefully so you know what to expect.</p>
    <ul>
        <li>This program may take you a while to complete, possibly months. There are as many as 10 modules! Why is it so long? Becau    se you’ve been thinking and doing things the same way for a long time and it’s going to take a long time and a lot of patience to make lasting changes. Think about change as climbing one of Oji’s big mountains. It’s steep, but you can climb at a pace that works for you.</li>
        <li>You will read about and be asked to practice skills more than one time. Doing things again and again will help them become part of your life. How did you learn to memorize your phone number as a kid? You had to say it many, many, many times. New habits stick when you practice them.</li>
        <li>Some new skills will NOT be easy. Give it a shot anyway. You won’t be punished for trying your best. Or ask for help if you don’t understand something you read or an activity you’re asked to complete.</li>
        <li>You may read something you don’t like or that challenges the way you think about yourself. For example, many people struggle with the term “criminal,” but that’s the term for people who have broken the law and you must rise above this label. Some people also have a difficult time hearing that they must now take responsibility and look inward at themselves. This is normal because we feel better when we can point the finger at someone or something else. But, the only person in control of you is…you.</li>
        <li>Some material may be less true of you than other material. This is because Oji’s Journey was designed for anyone in your situation and everyone’s experiences and needs are different. If you find yourself saying, “This doesn’t fit for me,” first consider whether you are being too quick to toss out the information. Maybe you’re having a hard time hearing it (see expectation #4). If the information really does not apply to you, do your best to work through it with an open mind. You could learn something unexpected!</li>
        <li>If you start to get upset or lose steam while working through the modules, think about why you need to do this program. Do you want to have better control over your anger, feel less stressed, make a better life for yourself, or not repeat the same mistakes again? Reach out to someone you trust for support and keep going!</li>
    </ul>
    <div class="row text-center" style="margin-top:20px; margin-bottom:20px;">
        <hr>
        <h3>Let's get to work! You've got this.</h3>
        <button id="startJourney" class="startJourney btn btn-primary startAssessment">Continue Your Journey</button>
        <br>
        <p>This application contains copyrighted materials. To learn more about the Abenaki Tribe, visit: <a>http://www.native-languages.org/abenaki.htm</a></p>
    </div>
    </div>
    </div>
</template>