<template name="postTreatment">
    <div class="titlebar">
        <b>{{currentUser.firstname}}'s Journey</b>
    </div>
    <div class="content container">
    <div class="profileCard">
    <h3 class="text-center">Continue on Oji’s Journey℠!</h3>
    </div>
    <div class="profileCard text-center">
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/8Ty6YPea2hw?autoplay=1&mute=0">
        </iframe> 
        <br>
        <button id="startJourney" class="startJourney btn btn-primary startAssessment">Continue Your Journey</button>
        <button id="view-transcript" class="btn btn-primary">View Transcript</button>
    </div>
    <div class="text-left profileCard" id="transcript" hidden>
    <br>
    <p>Great work! You made it to the end of this stage of your journey and completed all assigned modules. To see how you’ve changed from the beginning of the program to now, click continue to complete the assessments again. You’ll be able to see a comparison of your results in the Assessment Center. If you need to come back at a later time to complete your post-treatment assessment, visit your profile page or go to the Assessment Center</p>
    <div class="row text-center" style="margin-top:20px; margin-bottom:20px;">
        <hr>
        <button id="startJourney" class="startJourney btn btn-primary startAssessment">Continue Your Journey</button>
        <br>
        <p>This application contains copyrighted materials. To learn more about the Abenaki Tribe, visit: <a>http://www.native-languages.org/abenaki.htm</a></p>
    </div>
    </div>
    </div>
</template>