<template name="welcome">
    <div class="titlebar">
        <b>{{currentUser.firstname}}'s Journey</b>
    </div>
    <div class="container content">
    <div class="text-center profileCard">
        <h3>Welcome to Oji’s Journey℠!</h3>
        <h5>[pronounced <i>Ode-zee</i>]</h5>
        <br>
    </div>
    <div class="profileCard text-center">
        <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/791492461?h=638072e7e0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Introduction.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        <button class="btn btn-primary">View Transcript</button>
        {{#if startedJourney}}
        <button id="startJourney" class="startJourney btn btn-primary startAssessment">Continue Your Journey</button>
    {{else}}
        <button id="startJourney" class="startJourney btn btn-primary startAssessment">Start Your Journey</button>
    {{/if}}
    </div>
    <div class="text-left profileCard" hidden>
        <p>Ojihozo (or Odzihozo) is a Native American supernatural being from the Abenaki Tribe who brought himself into this world—as the legend says, he created himself from nothing. He is the one who shaped himself. Ojihozo’s journey to self-creation wasn’t easy and he struggled at times. With persistence, he was able to form a complete self, and with his newly completed body, went on to create beautiful things like lakes, rivers, mountains, and valleys.</p>
        <p>You are completing this program because you need to make some changes in your life. These changes include new ways of thinking about you and your world as well as new ways of reacting to your world and the people in it. Like Ojihozo, you are setting off on a journey to shape yourself and, through this journey, there may be times when you struggle. Unlike Ojihozo, who rose from nothing, you are starting out with your own unique strengths and experiences. This app is designed to build on those strengths, and provide you with the tools and support you need to meet your goals, including living an offense-free life.</p>
        <p>You will start with an assessment of your treatment needs—that is, what are some of your personal areas for growth? These assessments will also help track your progress throughout the program. <b>Because your treatment and progress are informed by these assessments, it is important that you answer each question honestly.</b></p>
        <p>You will not be able to move onto any other program content or app features until you complete each of the four assessment tools. Once you begin an assessment you must finish it in one sitting. However, you may come back and complete the remaining assessments later. <b>You should complete all assessment questions by yourself and in a quiet place.</b></p>
        <div class="assessment text-center" style="margin-top:5px;">
            <p>This application contains copyrighted materials. To learn more about the Abenaki Tribe, visit: <a href="http://www.native-languages.org/abenaki.htm">http://www.native-languages.org/abenaki.htm</a></p>
        </div>
        <br>
    </div>
    {{> menu}}
</div>
</template>