<template name="inbox">
    {{#if message}}
    <div class="profileCard">
    <h3 class="text-left">Inbox</h3>
    <table style="width:100%;">
        <tbody>
            {{#each message}}
            <tr class="message">
                <td class="display-message-icon">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </td>
                <td class="text-left display-message mx-2" data-id="{{this._id}}">
                    <a id="display-message" data-id="{{this._id}}"><b>{{this.subject}}</b><br>
                    {{this.fromName}}
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
    {{/if}}
</template>