<template name="adminControlPanel">
    <div class="row">
        {{#if author}}
        <div id="author-alert" class="alert alert-danger" role="alert">
            Author mode activated. You can really do some damage. Be careful.
        </div>
        {{/if}}
        <div class="col-4">
            <h2>{{organization.orgName}}</h2>
            <h3>Aggregate Statistics</h3>
            <p>User Count: {{orgData.userCount}}<br></p>
            <p>Total User Assessments Completed: {{orgData.assessmentCount}}</p>
            <p>Total User Modules Completed: {{orgData.moduleCount}}</p>
    
            <h4>Subscales:<br></h4>
            {{#if orgData.displaySubscales}}
            <table class="table" id="subscalesAggregates">
                <thead>
                    <th scope="col" width="20%">Subscale</th>
                    <th scope="col" width="20%">Average</th>
                    <th scope="col" width="20%">Median</th>
                    <th scope="col" width="20%">Total</th>
                </thead>
                <tbody> 
                    {{#each orgData.subscaleData}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.avg}}</td>
                        <td>{{this.median}}</td>
                        <td>{{this.sum}}</td>
                    </tr>
                    {{/each}}
                </tbody>                    
                </table>
            {{else}}
            <p>Subscale statistics will be displayed when more than two assessments are started.</p>
            {{/if}}
        </div>
        <div class="col-4">
            <h3>Default Flow</h3>
            This is the flow of assignments and modules for new users.
            {{#if assignments}}
            <table class="table" id="assessmentList">
                <thead>
                    <th scope="col" width="50%">Module/Assignment</th>
                    <th scope="col" width="50%">Actions</th>
                </thead>
                <tbody>
                {{#each assignments}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>
                            {{#if this.first}}
                            {{else}}
                            <a id="moveup-assignment" data-index="{{@index}}">Move Up</a><br>
                            {{/if}}
                            {{#if this.last}}
                            {{else}}
                            <a id="movedown-assignment" data-index="{{@index}}">Move Down</a><br>
                            {{/if}}
                            <a id="unassign-new" data-assessment-id="{{this._id}}">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Remove
                            </a>
                            </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            {{else}}
            Your organization does not have a default assignment flow for new users.
            {{/if}}
            <h3>Assessments Available</h3>
            <div id="alert" class="alert" role="alert" hidden>
                <span id="alert-p"></span>
                <button id="alert-confirm" class="btn btn-caution" hidden>Confirm</button>
                <button id="close-alert" class="btn btn-caution">Close</button>
              </div>
            <table class="table" id="assessmentList">
                <thead>
                    <th scope="col" width="30%">Assessment</th>
                    <th scope="col" width="20%">Status</th>
                    <th scope="col" width="40%">Actions</th>
                </thead>
                <tbody>
                {{#each assessments}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>{{this.status}}</td>
                        <td>
                                {{#if this.newUserRequired}}
                                    <a data-assessment-id="{{this._id}}" id="unassign-new">
                                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Remove for new users
                                    </a>
                                {{else}}
                                    <a data-assessment-id="{{this._id}}" id="assign-new">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Require for new users
                                    </a>
                                {{/if}}
                                <br>
                                <a data-assessment-id="{{this._id}}" id="assign-all">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Assign to all users
                                </a>
                                <br>
                                {{#if owned}}
                                <a data-assessment-id="{{this._id}}" id="edit-assessment">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Edit Assessment
                                </a>
                                <br>
                                <a data-assessment-id="{{this._id}}" id="delete-assessment">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Delete Assessment
                                </a>
                                <br>
                                <a data-assessment-id="{{this._id}}" id="copy-assessment">
                                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>Copy Assessment
                                </a>
                                {{/if}}
                                <br>
                        </td>
                    </tr>
                {{/each}}
                <tr>
                    <td>
                        <a id="add-assessment">Create New Assessment</a>
                    </td>
                </tr>
                </tbody>
                </table>
        </div>
            <h3>Modules Available</h3>
            <div id="alert-mods" class="alert" role="alert" hidden>
                <span id="alert-mods-p"></span>
                <button id="alert-mods-confirm" class="btn btn-caution" hidden>Confirm</button>
                <button id="close-mods-alert" class="btn btn-caution">Close</button>
              </div>
            <table class="table" id="assessmentList">
                <thead>
                    <th scope="col" width="30%">Module</th>
                    <th scope="col" width="20%">Status</th>
                    <th scope="col" width="40%">Actions</th>
                </thead>
                <tbody>
                {{#each module}}
                <tr>
                        <td>{{this.title}}</td>
                        <td>{{this.status}}</td>
                        <td>
                            {{#if this.newUserRequired}}
                                <a data-module-id="{{this._id}}" id="unassign-new-module">
                                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Remove for new users
                                </a>
                            {{else}}
                                <a data-module-id="{{this._id}}" id="assign-new-module">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Require for new users
                                </a>
                            {{/if}}
                            <br>
                            {{#if owned}}
                                <a data-module-id="{{this._id}}" id="edit-module">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Edit Module
                                </a>
                                <br>
                                <a data-module-id="{{this._id}}" id="delete-module">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Delete Module
                                </a>
                                <br>
                                <a data-module-id="{{this._id}}" id="copy-module">
                                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>Copy Module
                                </a>
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
                    <tr>
                        <td>
                            <a id="add-module">Create New Module</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        <h3>Assets Available</h3>
        {{#if files}}
        <div id="alert-files" class="alert" role="alert" hidden>
            <span id="alert-files-p"></span>
            <button id="alert-files-confirm" class="btn btn-caution" hidden>Confirm</button>
            <button id="close-files-alert" class="btn btn-caution">Close</button>
          </div>
        <table class="table" id="assessmentList">
            <thead>
                <th scope="col" width="40%">File</th>
                <th scope="col" width="20%">Type</th>
                <th scope="col" width="20%">Preview</th>
                <th scope="col" width="20%">Action</th>
            </thead>
                {{#each files}}
                <tr>
                    <td>
                        <a href="{{this.filePath}}" target="_new">{{this.name}}</a>
                    </td>
                    <td>
                        {{this.type}}
                    </td>
                    <td>
                        {{#if this.isImage}}<img src="{{this.filePath}}" class="img-responsive" style="max-width: 80px;">{{/if}}
                    </td>
                    <td>
                        <a id="delete-file" data-name="{{this.name}}">Delete</a>
                    </td>
                </tr>
                {{/each}}
            <tbody>
            </tbody>
            </table>
        {{else}}
        No assets have been uploaded for your organziation.
        {{/if}}
        <h3>Assets Uploader</h3>
        <p>This uploads your assets for use in assessments and modules. You may use image and video files. A link will be generated for you to use in authoring.</p>
        {{#with currentUpload}}
            Uploading <b>{{file.name}}</b>:
            <span id="progress">{{progress.get}}%</span>
        {{else}}<br>
        <input id="fileInput" style="display:block;" type="file" />
        {{/with}}
        <h3>Supervisors</h3>
        <table class="table" id="supervisorListTable">
        <thead>
        <tr>
            <th scope="col" width="30%">Last</th>
            <th scope="col" width="30%">First</th>
            <th scope="col" width="40%">Actions</th>
        </tr>
        </thead>
        <tbody>
            {{#each supervisorsList}}
                <tr>
                    <th scope="row">{{this.lastname}}</th>
                    <td>{{this.firstname}}</td>
                    <td>
                        <a id="supervisorsEditButton" href="#" data-supervisorID="{{this._id}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                        </a>
                        <a id="supervisorsDestroyButton" href="#" data-supervisorID="{{this._id}}" data-lastname="{{this.lastname}}" data-firstname="{{this.firstname}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                        <a id="supervisorDemoteButton" href="#" data-supervisorID="{{this._id}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
    {{ > supervisorControlPanel }}
</template>