<template name="adminControlPanel">
    <div class="container">
        <ul class="nav nav-tabs" style>
            <li class="nav-item">
            <a class="nav-link active" id="toggle-general-tab" aria-current="page" href="/control-panel">General</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="toggle-modules-tab" aria-current="page" href="/modulesAdmin">Modules and Assessments</a>
                </li>
            <li class="nav-item">
            <a class="nav-link toggle-users-view" href="/usersAdmin">Users</a>
            </li>
        </ul>
    </div>
    <div class="px-4 py-5 my-5 container" id="organization">
        <div class="col-4">
            <h2>Control Panel</h2>
            {{#if isInRole 'admin'}}
            <div id="users">
                <h3>Supervisors</h3>
                <table class="table" id="supervisorListTable">
                <thead>
                <tr>
                    <th scope="col" width="30%">Last</th>
                    <th scope="col" width="30%">First</th>
                    <th scope="col" width="40%">Actions</th>
                </tr>
                </thead>
                <tbody>
                    {{#each supervisorsList}}
                        <tr>
                            <th scope="row">{{this.lastname}}</th>
                            <td>{{this.firstname}}</td>
                            <td>
                                <a id="supervisorsDestroyButton" href="#" data-supervisorID="{{this._id}}" data-lastname="{{this.lastname}}" data-firstname="{{this.firstname}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </a>
                                <a id="supervisorDemoteButton" href="#" data-supervisorID="{{this._id}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            </div>
            {{/if}}
            <hr>
            <h3>Invite Code and Link</h3>
            <p>This code invites a new user to your organization and becomes supervised by you: 
            <h4>{{orgCode}}</h4>
            <a href="{{orgLink}}">{{orgLink}}</a> </p> 
            <p>
            <br><button id="regen-link" class="btn btn-caution">Regenerate Link</button>
            </p>
            {{#if isInRole 'admin'}}
            <p><h3>API Information</h3>API allows you to get raw anonymized JSON data about your organization for use in other apps.<br>{{#if apiKeys.expired}} is expired. {{else}} (Expires {{apiKeys.expires}}):<br>
            <b>[x-user-id]:</b> {{currentUser.username}}<br>
            <b>[x-auth-token]:</b> {{apiKeys.token}} {{/if}} <br> 
            Example CURL command:<br> <code>{{apiKeys.curlExample}}</code><br>
            </p> 
            <button id='gen-key' class="btn btn-caution">Generate New 30 Day Key</button>
            {{/if}}
        </div>
        <h3>Assets Uploader</h3>
        <p>This uploads your assets for use in modules or JSON modules. You may use image and video files. A link will be generated for you to use in authoring.</p>
        {{#with currentUpload}}
            Uploading <b>{{file.name}}</b>:
            <span id="progress">{{progress.get}}%</span>
        {{else}}<br>
        <input id="fileInput" style="display:block;" type="file" />
        {{/with}}
        <br>
    </div>
</template>