<template name="assessmentReport">
    <div class="px-4 py-5 my-5 text-left">
       <h1>Assessment Report:</h1>
       <p>Assessment Name: {{generalinfo.title}}<br>
        Last Accessed: {{generalinfo.lastAccessed}}<br>
       </p>
       <div class="d-grid gap-2 d-sm-flex">
        <table class="table" id="moduleList">
            <thead>
                <th scope="col" width="50%">Question</th>
                <th scope="col" width="30%">Response</th>
                <th scope="col" width="10%">Value</th>
                <th scope="col" width="10%">Subscales</th>
            </thead>
            <tbody>
                {{#each generalinfo.questions}}
                    <tr>
                        <td>{{this.question}}</td>
                        <td>{{this.responseText}}</td>
                        <td>{{this.value}}</td>
                        <td>{{this.subscales}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    </div>
</template>