<template name="assessment">
    <div class="px-4 py-5 my-5 text-center">
       <h1>{{assessment.title}}</h1>
       {{#if this.isNotQuestion}}
            {{#if resumeableTrial}}
                <p class="lead mb-4">{{assessment.description}}</p>
                <p class="lead mb-4">Please continue your last assessment.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button class="btn btn-primary resume">Let's Continue!</button>
                    <button class="btn btn-caution return">I'm not Ready.</button>
            </div>
            {{else}}
            <p class="lead mb-4">{{assessment.description}}</p>
            <p class="lead mb-4">Please complete the entire assessment. You will be allowed to return for the next 30 minutes.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button class="btn btn-primary begin">Let's Begin!</button>
                    <button class="btn btn-caution return">I'm not Ready.</button>
            </div>
            {{/if}}
        {{else}}
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            {{#if completed}}
            <p class>You have completed this assessment. I have calculated the results.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button class="btn btn-primary return">Return to My Profile</button>
            </div>
            {{else}}
            Question {{questionid}} of {{question.totalQuestions}} ({{question.percentageCompleted}}%)
            <h3>{{question.text}}</h3>
            <div class="form-check">
                {{#each question.answers}}
                <br>
                {{#if this.image}}
                <button  class="btn btn-secondary btn-lg btn-block continue" id="{{@index}}" value="{{@index}}" name="">
                    <img class="img-responsive center-block" src="{{this.image}}" alt="Your Alt Text">
                </button>
                {{else}}
                <button  class="btn btn-secondary btn-lg btn-block continue" id="{{@index}}" value="{{@index}}" name="">{{this}}</button>
                {{/if}}
                {{/each}}
            </div>
        {{/if}}
        </div>
        {{/if}}

    </div>
</template>