<template name="assessmentReport">
    {{> menu}}
    <div class="px-4 py-5 my-5 text-left profileCard">
       <h1>Assessment Report:</h1>
       <p>Assessment Name: {{generalinfo.title}}<br>
        Last Accessed: {{generalinfo.lastAccessed}}<br>
       </p>
       <div class="d-grid gap-2 d-sm-flex">
        <table class="table table-dark" id="moduleList">
            <thead>
                <th scope="col" width="40%">Question</th>
                <th scope="col" width="20%">Response</th>
                <th scope="col" width="5%">Time</th>
                <th scope="col" width="20%">Screenshot</th>
            </thead>
            <tbody>
                {{#each generalinfo.questions}}
                    <tr>
                        <td>{{this.question}}</td>
                        <td>{{this.responseText}}</td>
                        <td>{{this.timeElapsed}}</td>
                        <td>
                            {{#if this.screenshot}}
                                <img src="{{this.screenshot}}" class="img-fluid" style="max-height: 200px;" alt="Responsive image">
                            {{else}}
                                <p>No screenshot</p>
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    </div>
</template>