<template name="assessmentEditor">
    <div class="px-4 py-5 my-5">
        <h2><a href="/control-panel">Control Panel</a> / Assessment Editor / {{assessment.title}}</h2>
        <p>All changes are made instantly.</p>
        <hr>
        <h3>Information</h3>
        Title: {{assessment.title}}<a id="open-editor" data-value={{assessment.title}} data-field="title"> Edit</a><br>
        Display: {{#if assessment.display}}<code id="switch">true</code>{{else}}<code id="switch">false</code>{{/if}}<a id="switch-display"> Switch</a><br>
        Organization: {{assessment.organization}}<br>
        Identifier: {{assessment.identifier}}<a id="open-editor" data-value={{assessment.identifier}} data-field="identifier"> Edit</a><br>
        <h3>Description</h3>
        <p>{{assessment.description}}<a id="open-editor" data-value={{assessment.description}} data-field="description"> Edit</a><br></p>
        <hr>
        <h3>Answers</h3>
        <table class="table" id="answersList">
            <thead>
                <th scope="col" width="40%">Answer </th>
                <th scope="col" width="20%">Value</th>
                <th scope="col" width="20%">Reversed Value</th>
                <th scope="col" width="20%">Actions</th>
            </thead>
            <tbody>
                {{#each assessment.answersCombined}}
                <tr>
                    <td>
                    <div id="answerText-{{this.id}}">
                        {{this.answer}}
                    <a id="open-editor" data-field="answers[{{this.id}}]"  data-target="answerText-{{this.id}}" data-value="{{this.answer}}"> Edit</a>
                    </div>
                    <br>
                    </td>
                    <td>
                    {{this.value}}
                    <a id="open-editor" data-field="answerValues[{{this.id}}]"  data-value="{{this.value}}"> Edit</a><br>
                    </td>
                    <td>
                        {{this.reversedValue}}
                        <a id="open-editor" data-field="reversedValues[{{this.id}}]"  data-value="{{this.value}}"> Edit</a><br>
                    </td>
                    <td>
                    <a id="delete-item" data-field="answers[{{this.id}}]">Delete</a>
                    </td>
                </tr>
                {{/each}}
                <tr>
                    <td>
                        <a id="add-item" data-field="answers">Add</a>
                    </td>
                </tr>
             </tbody>
        </table>
        <h3>Questions</h3>
        <table class="table" id="questionsList">
            <thead>
                <th scope="col" width="40%">Question</th>
                <th scope="col" width="20%">Subscales</th>
                <th scope="col" width="20%">Use Reversed Values</th>
                <th scope="col" width="20%">Actions</th>
            </thead>
            <tbody>
            {{#each assessment.questionsCombined}}
            <tr>
                <td id="questionText-{{this.id}}">
                {{this.text}} <a id="open-editor" data-field="questions[{{this.id}}].text" data-target="questionText-{{this.id}}" data-value="{{this.text}}"> Edit</a><br>
                </td>
                <td>
                    {{#each this.subscalesCombined}}
                        <div id="subscale-{{this.parent}}-{{this.id}}">
                        {{this.subscale}}
                        <a id="open-editor" data-field="questions[{{this.parent}}].subscales[{{this.id}}]" data-target="subscale-{{this.parent}}-{{this.id}}" data-value="{{this.subscale}}"> Edit</a>
                        <a id="delete-item" data-field="questions[{{this.parent}}].subscales[{{this.id}}]">Delete</a>
                        </div>

                    {{/each}}
                    <a id="add-item" data-field="questions[{{this.id}}].subscales">Add</a>
                </td>
                <td>
                    <div class="form-check">
                        {{#if this.reversedValueEnabled}}
                        <input class="reversedValueSwitch" data-question="{{this.id}}" type="checkbox" value="" id="flexCheckDefault" checked>
                        {{else}}
                        <input class="reversedValueSwitch" data-question="{{this.id}}" type="checkbox" value="" id="flexCheckDefault">
                        {{/if}}  
                        Reverse Values

                      </div>
                </td>
                <td>
                    <a id="delete-item" data-field="questions[{{this.id}}]">Delete</a>
                </td>
            </tr>
            {{/each}}
            <tr>
                <td>
                    <a id="add-item" data-field="questions">Add</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <a id="show-json">View JSON</a>
    <a id="hide-json" hidden>Hide JSON</a>
    <br>
    <code id="json" hidden>{{json}}</code>
    <div id="text-editor" hidden>
        <form id="change-title">
            <span style="display:block; overflow:hidden; padding-right:50px;">
            <input type="text" id="input-editor" style="width:90%">
            <button class="btn btn-primary" id="button-save">Save</button>
            </span>
            <input id="assessmentid" type="hidden" value="{{assessment._id}}">
        </form>
    </div>
</template>