<template name="calendar">
    <div class="row">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
            <a class="nav-link active" id="toggle-month-view" aria-current="page" href="#">Month View</a>
            </li>
            <li class="nav-item">
            <a class="nav-link toggle-agenda-view" href="#">Agenda View</a>
            </li>
            <li class="nav-item">
            <a class="nav-link toggle-create-view" href="#">Create Event</a>
            </li>
        </ul>
    </div>
    <div class="row" id="month-view">
        <h3>{{calendar.Month}} / {{calendar.Year}}</h3>
        <p>
            <a href="#" id="decrement-month">Previous</a>
            <a href="#" id="increment-month">Next</a>
        </p>
        <table class="table" style="width:100%">
            <thead>
                <th scope="col" width="1%"></th>
                <th scope="col" width="14%">Sun</th>
                <th scope="col" width="14%">Mon</th>
                <th scope="col" width="14%">Tues</th>
                <th scope="col" width="14%">Wed</th>
                <th scope="col" width="14%">Thur</th>
                <th scope="col" width="14%">Fri</th>
                <th scope="col" width="14%">Sat</th>
                <th scope="col" width="1%"></th>
            </thead>
            <tbody>
                {{#each calendar.weeks}}
                <tr>
                <td></td>
                    {{#each this.days}}
                        {{#if this.display}}
                        {{#if this.today}}
                        <td class="text-align-top text-align-left" style="background-color:rgb(201, 235, 252);">
                            <h5><b>{{this.dayNum}}</b>
                                <br>
                            {{#if hasEvents}}
                                <a class="toggle-agenda-view" data-month="{{calendar.NumMonth}}" data-day="{{this.dayNum}}" data-year="{{calendar.Year}}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;({{this.numEvents}})</a>
                                {{else}}
                                <a class="toggle-create-view" data-month="{{calendar.NumMonth}}" data-day="{{this.dayNum}}" data-year="{{calendar.Year}}"><span class="glyphicon glyphicon-plus"></span>&nbsp;({{this.numEvents}})</a>
                                {{/if}}
                            </h5>
                        </td>
                        {{else}}
                        <td class="text-align-top text-align-left">
                            <h5>{{this.dayNum}}
                                <br>
                            {{#if hasEvents}}
                                <a class="toggle-agenda-view" data-month="{{calendar.NumMonth}}" data-day="{{this.dayNum}}" data-year="{{calendar.Year}}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;({{this.numEvents}})</a>
                             {{else}}
                             <a class="toggle-create-view" data-month="{{calendar.NumMonth}}" data-day="{{this.dayNum}}" data-year="{{calendar.Year}}"><span class="glyphicon glyphicon-plus"></span>&nbsp;({{this.numEvents}})</a>
                             {{/if}}
                            </h5>
                        </td>
                        {{/if}}
                        {{else}}
                        <td style="background-color:rgb(244, 250, 253)">
                        </td>
                        {{/if}}
                    {{/each}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="row" id="agenda-view" hidden>
        <h3>{{agenda.monthName}} {{agenda.day}}, {{agenda.year}}</h3>
        <table class="table" >
            <thead>
                <th scope="col" width="10%">Time</th>
                <th scope="col" width="60%">Event</th>
                <th scope="col" width="30%">Action</th>
            </thead>
            <tbody>
                {{#each agenda.events}}
                <tr>
                    <td>
                        {{this.time}}
                    </td>
                    <td>
                        {{this.title}}
                    </td>
                    <td>
                        {{#if this.deleteShow}}
                            <a href="" id="deleteEvent" data-id="{{this._id}}">Delete</a>
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
   </div>
   <div class="row" id="create-view" hidden>
        <h3>
            Create Event
        </h3>
        <form>
            Title<br><input type="text" id="title"><br><br>
            Date:<br> <input type=date min=2014-09-08 id="date"><br><br>
            Time:<br> <input type=time min=2014-09-08 id="time"><br><br>
            Type:<br>
            <select id="type">
                {{#if isInRole 'supervisor'}}
                <option>Supervisor Group</option>
                {{/if}}
                {{#if isInRole 'admin'}}
                <option>All Organization</option>
                {{/if}}
                <option>Personal</option>
            </select><br><br>
            <button class="btn btn-primary" id="createEvent">Create Event</button>
        </form>
    </div>
</template>