<template name="certifcates">
    <div class="px-4 py-5 my-5 text-center container">
        <div class="container">
            <ul class="nav nav-tabs" style>
                <li class="nav-item">
                <a class="nav-link active" id="toggle-month-view" aria-current="page" href="profile">Menu</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" id="toggle-month-view" aria-current="page" href="goals">Goals</a>
                </li>
                <li class="nav-item">
                <a class="nav-link toggle-agenda-view" href="certifcates">Certificates</a>
                </li>
            </ul>
        </div>
        <br>
            <table class="table" id="subscalesAggregates">
                <thead>
                    <th scope="col" width="100%">Certificate</th>
                </thead>
                <tbody> 
                    {{#if certificates}}
                        {{#each certificates}}
                        <tr>
                            <td>
                                <a href="{{this.link}}">{{this.moduleTitle}}</a>
                            </td>
                        </tr>
                        {{/each}}
                    {{else}}
                    <tr>
                        <td>
                            No certificates have been awarded yet.
                        </td>
                    </tr>
                    {{/if}}
                </tbody>
            </table>
    </div>
</template>