<template name="code">
    <h4>Please type your code</h4>
    <form class="login">
      <div class="form-floating mb-3">
        <input
          id="code"
          type="text"
          placeholder="_ _ _ _ _ _"
          name="code"
          class="form-control"
          required
        />
        <br>
        <div style="margin-top:10px;">
          <button id="signup-route" class="btn btn-caution">Create Account</button>
        </div>
      </div>
      <a id="home-route" class="btn btn-caution">Go Back</a>
    </form>
</template>