<template name="downloadApp">
    <br>
    <div class="container" id="downloadApp">
        <div class="row">
            <div class="col w-100 text-center">
            <img id="large-logo-color" src="/logo.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6 mx-auto">
                <h1 class="text-center">About Oji's Journey</h1>
                <br>
                <p>
                    Oji’s Journey is a product of the University of Memphis and the University of Southern Mississippi and was created by a team of psychological researchers and software developers at the Institute for Intelligent Systems. &copy; 2023.
                </p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6 mx-auto">
                <h1>Android</h1>
                <ul>
                    <li>Enable Unknown Sources: Settings > Security > Unknown Sources</li>
                    <li>Install the app when prompted.</li>
                </ul>
                <button class="btn btn-primary" id="downloadAndroid">Download Oji for Android v0.1a</button>                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6 mx-auto">
                <h1>Web</h1>
                <ul>
                    <li>Oji Web Interface (Please scale your screen to the size of a phone)</li>
                </ul>
                <a href="/web" class="btn btn-primary">Use the Web App</a>
            </div>
        </div>
    </div>
</template>