<template name="goals">
    <div class="titlebar">
        <h1>
        {{currentUser.firstname}}'s Goals
        </h1>
    </div>
    <div class="px-4 py-5 my-5 text-center content container">
        <!-- set new goals form -->
        <form>
            <div class="form-group">
                <label for="goal">Set a new goal</label>
                <textarea id="goal" placeholder="Enter a goal"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" id="goal_submit">Add Goal</button>
        </form>
        <br>
            <table class="table" id="subscalesAggregates">
                <thead>
                    <th scope="col" width="90%">Goals</th>
                    <th scope="col" width="10%">Delete</th>
                </thead>
                <tbody> 
                    {{#if goals}}
                        {{#each goals}}
                        <tr>
                            <td>
                                {{this}}
                            </td>
                            <td>
                                <button class="btn btn-danger deleteGoal" data-index="{{@index}}">Delete</button>
                            </td>
                        </tr>
                        {{/each}}
                    {{else}}
                    <tr>
                        <td>
                            No goals have been set yet.
                        </td>
                    </tr>
                    {{/if}}
                </tbody>
            </table>
    </div>
</template>