<template name="home">
    <div class="px-4 py-5 my-5 text-center">
        {{#if userIsUser}}
            {{#if userHasSeenFirstAssessment}}
                show default ui
            {{else}}
                show first assessment button
            {{/if}}
        {{else if userIsAdmin}}
            admin
        {{else if userIsSupervisor}}
            Supervisor
        {{else}}
            <h1>Welcome to Oji</h1>
            <p class="lead mb-4">Oji is a mental health assessment tool developed by University of Southern Mississippi and the Institute for Intelligent Systems at the University of Memphis.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                {{>login}}
            </div>
        {{ /if }}
    </div>
</template>