<template name="home">
    {{#if message}}
    <div class="alert alert-{{alert}}" role="alert">
      Message: {{message}}
    </div>
    {{/if}}
    <div class="px-4 py-5 my-5 text-center">
        <h1>Welcome to Oji</h1>
        <p class="lead mb-4">Oji is a mental health assessment tool developed by University of Southern Mississippi and the Institute for Intelligent Systems at the University of Memphis.</p>
        {{#if currentUser}}
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" style="padding-bottom: 2rem;">
                <a class="btn btn-primary" id="assessmentNavButton" href="profile" >View Profile</a>
            </div>
            {{#if isInRole 'supervisor'}}
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" style="padding-bottom: 2rem;">
                    <a class="btn btn-primary" id="supervisorControlPanelNavButton" href="control-panel">Supervisor Control Panel</a>
                </div>
            {{#if isInRole 'admin'}}
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" style="padding-bottom: 2rem;">
                    <a class="btn btn-primary" id="adminControlPanelNavButton" href="control-panel">Admin Control Panel</a>
                </div>
            {{/if}}
        {{else}}
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                {{>login}}
            </div>
        {{/if}}
    </div>
</template>