<template name="information">
    <div class="titlebar">
        <b>Information</b>
    </div>
    <div class="text-center content container">  
    <div class="text-center profileCard" role="alert">
        <h3>Content</h3>
          <p>Here is the content you may have already completed.</p>
                 <a href="/welcome">Welcome Page</a>             
         </div>
         <div class="text-center profileCard">
            <h3>About Oji's Journey</h3>
            <p>
                Oji’s Journey is a product of the University of Memphis and the University of Southern Mississippi and was created by a team of psychological researchers and software developers at the Institute for Intelligent Systems. &copy; 2023.
            </p>
        </div>
        {{> menu}}
    </div>
</template>