<template name="information">
    <div class="px-4 py-5 my-5">    
       <h2>Previous Content</h2>
         <p>Here is the content you have already completed.</p>
        <ul>
            <li>
                <a href="/welcome">Welcome Page</a>
            </li>
            
        </ul>

       <h2>Ask A Question</h2>
       <p class="lead mb-4">Please use a form below to send a message to your supervisor.</p>
       <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <form>
                <div class="form-group">
                    <textarea id="question" rows="3" style="width:100%"></textarea>
                    <br>
                    <button type="submit" id="newMessage" class="btn btn-primary">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</template>