<template name="login">
    <form>
        <label htmlFor="username">Username</label>
  
        <input
          id="usernameLogin"
          type="text"
          placeholder="Username"
          name="username"
          required
        />
  
        <label htmlFor="password">Password</label>
  
        <input
          id="passwordLogin"
          type="password"
          placeholder="Password"
          name="password"
          required
        />
  
        <button id="login-submit">Log In</button>
    </form>
</template>