<template name="messages">
    <div class="px-4 py-5 my-5 container">
        <div class="container">
            <ul class="nav nav-tabs" style>
                <li class="nav-item">
                <a class="nav-link active" id="inbox" aria-current="page">Inbox</a>
                </li>
                {{#if isInRole 'supervisor,admin'}}
                <li class="nav-item">
                <a class="nav-link active" id="newMessage" aria-current="goals">Compose</a>
                </li>
                {{else}}
                {{#if compose}}
                <li class="nav-item">
                <a class="nav-link active" id="compose" aria-current="goals">Compose</a>
                </li>
                {{/if}}
                {{#if curMessage}}

                <li class="nav-item">
                <a class="nav-link active" id="message" aria-current="goals">{{curMessage.title}}</a>
                </li>
                {{/if}}
                {{/if}}
            </ul>
        </div>
        {{#if inbox}}
            <h1>Inbox</h1>
            <hr>
            {{#if message}}
            <table style="width:100%;">
                <thead>
                    <tr style="border-bottom: 1px white;">
                        <th scope="col" width="20%">Date</th>
                        <th scope="col" width="20%">From</th>
                        <th scope="col" width="40%">Subject</th>
                        <th scope="col" width="20%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each message}}
                    <tr class="messageView">
                        <td>{{this.dateReadable}}</td>
                        <td>{{this.fromName }}</td>
                        <td><a id="display-message" data-id="{{this._id}}">{{this.subject}}</a></td>
                        <td><br><a id="msg-mark-read" data-id="{{this._id}}">Mark Read</a>
                    </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <p>Your inbox is empty.</p>
            {{/if}}
        {{/if}}
        {{#if compose}}
        <form id="msg-reply-display">
            <h2>Compose</h2>
            {{#if isInRole 'supervisor,admin'}}
            <div class="form-group">
                <label for="msg-to">To</label>
                <select id="msg-to">
                    {{#each usersList}}
                    <option value="{{this._id}}">{{this.firstname}} {{this.lastname}}</option>
                    {{/each}}
                </select>
            </div>
            <label for="msg-subject">Subject</label>
            {{#if curMessage}}
            <input type="text"  id="msg-subject" value="Re: {{curMessage.subject}}">
            {{else}}
                <input type="text" id="msg-subject" placeholder="Subject">
            {{/if}}
            {{else}}
            {{#if curMessage}}
                <label for="msg-to">To</label>
                <input type="text" class="form-control" id="msg-to" value="{{curMessage.from}}" readonly style="display: none;">
                <input type="text" id="msg-to-name" value="{{curMessage.fromName}}" readonly>
                <label for="msg-subject">Subject</label>
                <input type="text" id="msg-subject" value="{{curMessage.subject}}">
            {{else}}
                <label for="msg-to">To</label>
                <input type="text" class="form-control" id="msg-to" value="{{supervisor}}" readonly>
                <label for="msg-subject">Subject</label>
                <input type="text" id="msg-subject" placeholder="Subject">
            {{/if}}
            {{/if}}
            <label for="msg-body">Message</label>
            <textarea id="message" rows="3" style="width:100%" placeholder="Message"></textarea>
            <br>
            <button type="Send" class="btn btn-primary" id="msg-send">Send</button>
        </form>
        {{/if}}
        {{#if displayMessage}}
            <div class="messageDisplay">
            <h2>{{curMessage.subject}}</h2>
            <p>{{curMessage.message}}</p>
            <p>Sent on {{curMessage.dateReadable}}</p>
            <button class="btn btn-primary" id="msg-reply">Reply</button>
            <button class="btn btn-primary" data-id="{{curMessage._id}}" id="msg-mark-read">Mark Read</button>
            </div>
        {{/if}}
    </div>
</template>