<template name="messages">
    <div class="titlebar">
        <b>{{currentUser.firstname}}'s Messages</b>
    </div>
    <div class="content container">
        {{#if displayMessage}}
            <div class="profileCard">
                <div class="message-header">
                    <h2>{{curMessage.subject}}</h2>
                    <h4>From: {{curMessage.fromName}}</h4>
                </div>
                <div class="message-content">
                    <p>{{curMessage.message}}</p>
                    <br>
                    <h6>Sent on {{curMessage.dateReadable}}</h6>
                    <button class="btn btn-primary" id="msg-reply">Reply</button>
                    <button class="btn btn-primary" data-id="{{curMessage._id}}" id="msg-mark-read">Mark Read</button>
                </div>
            </div>
        {{/if}}
        <div class="profileCard text-center">
            <h3>Inbox</h3>

            {{#if message}}
            <table style="width:100%;">
                <tbody>
                    {{#each message}}
                        {{#if this.isRead}}
                        <tr class="message">
                            <td class="display-message-icon">
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            </td>
                            <td class="text-left display-message" data-id="{{this._id}}">
                                <a id="display-message" data-id="{{this._id}}"><b>{{this.subject}}</b><br>
                                {{this.fromName}}
                                </a>
                            </td>
                        </tr>
                        {{else}}
                        <tr class="message">
                            <td class="display-message-icon">
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            </td>
                            <td class="text-left display-message" data-id="{{this._id}}">
                                <a id="display-message" data-id="{{this._id}}"><b>{{this.subject}}</b><br>
                                {{this.fromName}}
                                </a>
                            </td>
                        </tr>
                        {{/if}}
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <p>Your inbox is empty.</p>
            {{/if}}
        </div>
        <div class="profileCard text-center container">
        <form id="msg-reply-display">
            {{#if isInRole 'supervisor,admin'}}
            <h3>Compose</h3>
            <br>
            <div class="text-center mx-auto  gy-2">
                <select id="msg-to">
                    {{#each usersList}}
                    <option value="{{this._id}}">{{this.firstname}} {{this.lastname}}</option>
                    {{/each}}
                </select>
            </div>
            {{#if curMessage}}
            <div class="text-center mx-auto  gy-2">
             <input type="text"  id="msg-subject" value="Re: {{curMessage.subject}}">  
            </div>  
            {{else}}
                <div class="text-center mx-auto  gy-2">
                    <input type="text" id="msg-subject" placeholder="Subject">
                </div>
            {{/if}}
            {{else}}
            <h3>Message Supervisor</h3>
            {{#if curMessage}}
            <div class="text-center mx-auto  gy-2">
                <input type="text" id="msg-subject" value="{{curMessage.subject}}">
            </div>
            {{else}}
            <div class="text-center mx-auto  gy-2">
                <input type="text" id="msg-subject" placeholder="Subject">
            </div>
            {{/if}}
            {{/if}}
            <div class="text-center mx-auto  gy-2">
                <textarea id="message" rows="3"  placeholder="Message"></textarea>
            </div>
            <div class="text-center mx-auto gy-2">
                <button type="Send" class="btn btn-primary" id="msg-send">Send</button>
            </div>
        </form>
        </div>
        {{> menu}}
        
    </div>
</template>