<template name="messages">
    <div class="titlebar">
        <b>{{currentUser.firstname}}'s Messages</b>
    </div>
    <div class="content container">
        {{#if displayMessage}}
            <div class="profileCard">
            <h2>{{curMessage.subject}}</h2>
            <p>{{curMessage.message}}</p>
            <p>Sent on {{curMessage.dateReadable}}</p>
            <button class="btn btn-primary" id="msg-reply">Reply</button>
            <button class="btn btn-primary" data-id="{{curMessage._id}}" id="msg-mark-read">Mark Read</button>
            </div>
        {{/if}}
        <div class="profileCard">
            <h3>Inbox</h3>

            {{#if message}}
            <table style="width:100%;">
                <tbody>
                    {{#each message}}
                    <tr class="message">
                        <td class="messageDate">
                            <h2>{{this.dateReadable}}</h2>
                        </td>
                        <td class="text-left">
                            <a id="display-message" data-id="{{this._id}}"><b>{{this.subject}}</b><br>
                            {{this.fromName}}
                            </a>
                        </td>
                        <td><br><a id="msg-mark-read" data-id="{{this._id}}" ><span class="glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <p>Your inbox is empty.</p>
            {{/if}}
        </div>
        <div class="profileCard">
        <form id="msg-reply-display">
            {{#if isInRole 'supervisor,admin'}}
            <h3>Compose</h3>
            <div class="form-group">
                <select id="msg-to">
                    {{#each usersList}}
                    <option value="{{this._id}}">{{this.firstname}} {{this.lastname}}</option>
                    {{/each}}
                </select>
            </div>
            {{#if curMessage}}
            <input type="text"  id="msg-subject" value="Re: {{curMessage.subject}}">
            {{else}}
                <input type="text" id="msg-subject" placeholder="Subject">
            {{/if}}
            {{else}}
            <h3>Message Supervisor</h3>
            {{#if curMessage}}
                <input type="text" id="msg-subject" value="{{curMessage.subject}}">
            {{else}}

                <input type="text" id="msg-subject" placeholder="Subject">
            {{/if}}
            {{/if}}
            <textarea id="message" rows="3" style="width:90%" placeholder="Message"></textarea>
            <br>
            <button type="Send" class="btn btn-primary" id="msg-send">Send</button>
        </form>
        </div>
        {{> menu}}
        
    </div>
</template>