<template name="moduleReport">
        <div class="text-center content container">
            {{> menu}}
        <div class="profileCard">
        <h1>Module Report:</h1>
        <p>Module Name: {{generalinfo.title}}<br>
            Last Accessed: {{generalinfo.lastAccessed}}<br>
        </p>
        <div class="d-grid gap-2 d-sm-flex">
            <table class="table table-dark" id="moduleList">
                <thead>
                    <th scope="col" width="50%">Question</th>
                    <th scope="col" width="30%">Response</th>
                    <th scope="col" width="10%">Time Elapsed</th>
                    <th scope="col" width="10%">Screenshot</th>
                </thead>
                <tbody>
                    {{#each pages}}
                        <tr>
                            <td>{{this.question}}</td>
                            <td>{{this.response}}</td>
                            <td>{{this.timeElapsed}}</td>
                            <td>
                            {{#if this.screenshot}}
                                <a href="{{this.screenshot}}" target="_blank">
                                    <img src="{{this.screenshot}}" class="img-fluid" style="max-height: 200px;" alt="Responsive image">
                                </a>
                            {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        </div>
        <div class="profileCard">
            <button class="btn btn-primary" id="awardCertificate">Award Certificate</button>
        </div>
    </div>
</template>