<template name="moduleCenter">
    <div class="px-4 py-5 my-5 text-center">
       <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <h1>Module Center</h1>
        <p class="lead mb-4">Below are a list of available modules to help you improve your mental health.</p>
            {{#each modules}} 
            <hr>
                <div class="module" style="margin-top:5px;">
                    <h3>{{this.title}}</h3>
                    <p>{{this.description}}</p>
                    <button id="{{this._id}}" class="startModule btn btn-primary startAssessment">Begin {{nexModule.title}}</button>
                </div>
            {{/each}}
        </div>
    </div>
</template>