<template name="module">
    <div class="px-4 py-5 my-5 text-center">
       {{#if this.pageId}}
       <h3>
       {{#if page.header}}
            {{page.header}}
        {{/if}}
        {{#if page.subheader}}
            <br>
            {{page.subheader}}
        {{/if}}
        </h3>
        {{#if completed}}
            <p>You have completed this module! A certificate will be awarded to you after your supervisor reviews the results.</p>
            {{#if isNewUserAssignment}}
            <button class="btn btn-primary" id="continueJourney">Continue your journey</button>    
            {{else}}
                <button class="btn btn-primary" id="goBack">Return to My Profile</button>    
            {{/if}}
        {{else}}
        <h5>{{#if displayLastPageBth}}<a id="goBackPage"><span class="glyphicon glyphicon-chevron-left"></span></a>{{/if}}Page {{pageid}} of {{totalpages}}{{#if displayNextPageBtn}} <a id="goForward"><span class="glyphicon glyphicon-chevron-right"></span></a>{{/if}}</h5>
        {{#if page.typeText}}
        <h3><b>{{page.header}}</b></h3>
        {{#if page.imageAbove}}
            <img src="{{page.image}}" class="mx-auto img-fluid rounded" style="{{page.imgStyle}}">
            <br>
        {{/if}}
        <br>
        <p id="pageText" class="text-left">{{{page.text}}}</p>
        <br>
        <br>
        {{#if page.imageBelow}}
            <img src="{{page.image}}" class="mx-auto img-fluid rounded" style="{{page.imgStyle}}">
            <br>
        {{/if}}
        <button id="contine" class="btn btn-primary continue btn-wide">Save and Continue</button>
        {{/if}}
        {{#if this.questionId}}
            {{#if question.promptImg}}
            <img src="{{question.promptImg}}" class="mx-auto img-fluid rounded" style="{{page.imgStyle}}">
            {{/if}}
            {{#if question.typeBlank}}
                <h3>{{{question.prompt}}}</h3><br>
                <form>
                    <input type="text" class="textInput">
                </form>
                <br>
                <button id="contine" class="btn btn-primary continue btn-wide">Save and Continue</button>
            {{/if}}
            {{#if question.typeLongText}}
                <h3>{{question.prompt}}</h3><br>
                <form>
                    <textarea style="height:100px; width:100%;" class="textareaInput"></textarea>
                </form>
                <br>
                <button id="contine" class="btn btn-primary continue btn-wide">Save and Continue</button>
            {{/if}}
            {{#if question.typeMultiChoice}}
            <h3>{{{question.prompt}}}</h3><br>
            <form>
                {{#each question.answers}}
                    {{#if this.image}}
                    <button  class="btn btn-secondary text-nowrap btn-lg btn-block multichoice continue btn-wide" data-group="{{this.group}}" style="white-space: normal;" id="{{@index}}" value="{{this.value}}" name="">
                        <img class="img-responsive center-block" src="{{this.image}}" alt="Your Alt Text">
                    </button>
                    {{else}}
                     <button  class="btn btn-secondary text-nowrap btn-lg btn-block multichoice continue btn-wide" data-group="{{this.group}}" style="white-space: normal;" id="{{@index}}" value="{{this.value}}" name="">{{this.answer}}</button>
                     {{/if}}
                {{/each}}
            </form>
            <br>
            {{/if}}
            {{#if question.typeCombo}}
            <h3 class="text-center">{{{question.prompt}}}</h3><br>
                <form>
                {{#each question.fields}}
                    {{#if this.typeDisplayText}}
                        <h4>{{this.text}}</h4>
                    {{/if}}
                    {{#if this.typeBlank}}
                        <h4>{{this.text}}</h4>
                            <input class="combo" type="text">
                    {{/if}}
                    {{#if this.typeLongText}}
                    <h4>{{this.text}}</h4><br>
                    <form>
                        <textarea style="height:50px; font-size: 20px; width:100%;" class="combo"></textarea>
                    </form>
                    <br>
                   {{/if}}
                    {{#if this.typeMultiChoice}}
                    <h4>{{this.text}}</h4>
                        {{#each this.answers}}
                        {{#if this.image}}
                        <button  class="btn btn-secondary  text-nowrap btn-lg btn-block multichoice combo" data-group="{{this.group}}" style="white-space: normal;" id="{{@index}}" value="{{@index}}" name="">
                            <img class="img-responsive center-block" src="{{this.image}}" alt="Your Alt Text">
                        </button>
                        {{else}}
                        <button  class="btn btn-secondary  text-nowrap btn-lg btn-block multichoice combo" data-group="{{this.group}}" style="white-space: normal;" id="{{@index}}" value="{{@index}}" name="">{{this.answer}}</button>
                        {{/if}}
                        {{/each}}
                    {{/if}}
                    <br>
                {{/each}}
                </form> 
                <br>
                <button  class="btn btn-primary continue btn-wide" id="continue btn-wide" name="">Save and Continue</button>
            <br>
            {{/if}}
        {{else}}
        {{#if page.typeActivity}}
        <h3>Instructions</h3>
        <p>{{page.instructions}}</p>
        {{#if isFurthestPage}}
            <button class="btn btn-primary btn-wide" id="startActivity"><h3><b>Continue</b></h3></button>
        {{else}}
            <p>You have already completed this activity.</p>
        {{/if}}
        {{/if}}
        {{/if}}
        {{/if}}
       {{else}}
            {{#if resume}}
            <h3>{{module.title}}</h3>
            <p>{{module.description}}</p>
            <br>
            <button class="btn btn-primary btn-wide" id="resumeModule">Lets Continue!</button>
            <button class="btn btn-caution btn-wide" id="goBack">Return to Welcome Page.</button>
            {{else}}
            <h3>{{module.title}}</h3>
            <p>{{module.description}}</p>
            <br>
            <button class="btn btn-primary btn-wide" id="startModule">Lets Begin!</button>
            <button class="btn btn-caution btn-wide" id="goBack">Return to Welcome Page.</button>
            {{/if}}
        {{/if}}
    </div>
</template>