<template name="modulesAdmin">
     <div class="titlebar">
        <b>{{currentUser.firstname}}'s Control Panel</b>
    </div>
    <div class="container content">
        {{> menu}}
    <div class="container profileCard">
        <ul class="nav nav-tabs" style>
            <li class="nav-item">
            <a class="nav-link active" id="toggle-general-tab" aria-current="page" href="/control-panel">General</a>
            </li>
            {{#if isInRole 'admin'}}
            <li class="nav-item">
                <a class="nav-link active" id="toggle-modules-tab" aria-current="page" href="/modulesAdmin">Content</a>
                </li>
                {{/if}}
            <li class="nav-item">
            <a class="nav-link toggle-users-view" href="/usersAdmin">Users</a>
            </li>
        </ul>
    </div>
    {{#if author}}
    <div id="author-alert" class="alert alert-danger" role="alert">
        Author mode activated. All editing is enabled.
    </div>
    {{/if}}
    <div class="profileCard">
            <h3>Default Flow</h3>
            This is the flow of assignments and modules for new users.
            {{#if assignments}}
            <table class="table" id="assessmentList">
                <thead>
                    <th scope="col" width="50%">Module/Assignment</th>
                    <th scope="col" width="50%">Actions</th>
                </thead>
                <tbody>
                {{#each assignments}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>
                            {{#if this.first}}
                            {{else}}
                            <a id="moveup-assignment" data-index="{{@index}}">Move Up</a><br>
                            {{/if}}
                            {{#if this.last}}
                            {{else}}
                            <a id="movedown-assignment" data-index="{{@index}}">Move Down</a><br>
                            {{/if}}
                            <a id="unassign-new" data-assessment-id="{{this._id}}">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Remove
                            </a>
                            </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            {{else}}
            Your organization does not have a default assignment flow for new users.
            {{/if}}
            </div>
            {{#if author}}
            <div class="profileCard">
            <h3>Reload Default Content</h3>
            <button id="reload-defaults" class="btn btn-caution">Reload Default Content</button>
            <p>This will delete all current content and reload default content. This cannot be undone.</p>
            </div>
            {{/if}}
            <div class="profileCard">
            <h3>Assessments Available</h3>
            <div id="alert" class="alert" role="alert" hidden>
                <span id="alert-p"></span>
                <button id="alert-confirm" class="btn btn-caution" hidden>Confirm</button>
                <button id="close-alert" class="btn btn-caution">Close</button>
            </div>
            <table class="table" id="assessmentList">
                <thead>
                    <th scope="col" width="30%">Assessment</th>
                    <th scope="col" width="20%">Status</th>
                    <th scope="col" width="40%">Actions</th>
                </thead>
                <tbody>
                {{#each assessments}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>{{this.status}}</td>
                        <td>
                                {{#if this.newUserRequired}}
                                    <a data-assessment-id="{{this._id}}" id="unassign-new">
                                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Remove for new users
                                    </a>
                                {{else}}
                                    <a data-assessment-id="{{this._id}}" id="assign-new">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Require for new users
                                    </a>
                                {{/if}}
                                <br>
                                <a data-assessment-id="{{this._id}}" id="assign-all">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Assign to all users
                                </a>
                                <br>
                                {{#if owned}}
                                <a data-assessment-id="{{this._id}}" id="edit-assessment">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Edit Assessment
                                </a>
                                <br>
                                <a data-assessment-id="{{this._id}}" id="delete-assessment">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Delete Assessment
                                </a>
                                <br>
                                <a data-assessment-id="{{this._id}}" id="copy-assessment">
                                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>Copy Assessment
                                </a>
                                <br>
                                <a data-module-id="{{this._id}}" id="test-assessment">
                                    <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Test Assessment
                                </a>
                                {{else}}
                            
                                {{#if author}}
                                    <a data-assessment-id="{{this._id}}" id="edit-assessment">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Edit Assessment
                                    </a>
                                    <br>
                                    <a data-assessment-id="{{this._id}}" id="delete-assessment">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Delete Assessment
                                    </a>
                                    <br>
                                    <a data-assessment-id="{{this._id}}" id="copy-assessment">
                                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>Copy Assessment
                                    </a>
                                    <br>
                                    <a data-assessment-id="{{this._id}}" id="export-assessment">
                                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>Export Assessment
                                    </a>
                                    <br>
                                    <a data-assessment-id="{{this._id}}" id="backup-defaults-assessment">
                                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>Backup to Defaults
                                    </a>
                                {{/if}}
                                {{/if}}
                        </td>
                    </tr>
                {{/each}}
                <tr>
                    <td>
                        <a id="add-assessment">Create New Assessment</a>
                    </td>
                </tr>
                </tbody>
                </table>
                </div>
                <div class="profileCard">
                <h3>Modules Available</h3>
                <div id="alert-mods" class="alert" role="alert" hidden>
                    <span id="alert-mods-p"></span>
                    <button id="alert-mods-confirm" class="btn btn-caution" hidden>Confirm</button>
                    <button id="close-mods-alert" class="btn btn-caution">Close</button>
                </div>
                <table class="table" id="assessmentList">
                    <thead>
                        <th scope="col" width="30%">Module</th>
                        <th scope="col" width="20%">Status</th>
                        <th scope="col" width="40%">Actions</th>
                    </thead>
                    <tbody>
                    {{#each module}}
                    <tr>
                            <td>{{this.title}}</td>
                            <td>{{this.status}}</td>
                            <td>
                                {{#if this.newUserRequired}}
                                    <a data-module-id="{{this._id}}" id="unassign-new-module">
                                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Remove for new users
                                    </a>
                                {{else}}
                                    <a data-module-id="{{this._id}}" id="assign-new-module">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Require for new users
                                    </a>
                                {{/if}}
                                <br>
                                <a data-module-id="{{this._id}}" id="assign-all-module">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Assign to all users
                                </a>
                                {{#if author}}
                                    <br>
                                    <a data-module-id="{{this._id}}" id="edit-module">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Edit Module
                                    </a>
                                    <br>
                                    <a data-module-id="{{this._id}}" id="delete-module">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Delete Module
                                    </a>
                                    <br>
                                    <a data-module-id="{{this._id}}" id="export-module">
                                        <span class=" 	glyphicon glyphicon-share" aria-hidden="true"></span>Export Module
                                    </a>
                                    <br>
                                    <a data-module-id="{{this._id}}" id="copy-module">
                                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>Copy Module
                                    </a>
                                    <br>
                                    <a data-module-id="{{this._id}}" id="test-module">
                                        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>Test Module
                                    </a>
                                    <br>
                                    <a data-assessment-id="{{this._id}}" id="backup-defaults-module">
                                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>Backup to Defaults
                                    </a>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                        <tr>
                            <td>
                                <a id="add-module">Create New Module</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>   
    </div>
</template>