<template name="profile">
    <div class="titlebar">
        <b>{{currentUser.firstname}}'s Profile</b>
    </div>
    <div class="text-center content container">
    {{#if isInRole 'admin,supervisor'}}
    <div class="profileCardNext" role="alert">
        <h3>{{currentUser.firstname}}, welcome back.</h3>
    </div>
    {{/if}}
    {{#if isInRole 'user'}}
        {{#if hasCompletedFistTimeAssessment}}
            <div class="profileCardNext" role="alert">
                {{#if assignment}}
                    {{#if hasCompletedIntervention}}
                        <h3>{{currentUser.firstname}}, let's see how you've changed.</h3>
                    {{else}}
                        <h3>{{currentUser.firstname}}, let's continue yuur journey.</h3>
                    {{/if}}
                <button class="btn btn-primary btn-wide" id="continueJourney" data-assessmentId="{{assignment._id}}">Continue your journey</button>
                {{else}}
                <h3>{{currentUser.firstname}}, welcome back.</h3>
                {{/if}}
            </div>
        {{else}}
            <div class="profileCardNext" role="alert">
                <h3>{{currentUser.firstname}}, let's start here today:</h3>
                <button class="btn btn-primary btn-wide" id="welcome">Continue your Journey</button>
            </div>
        {{/if}}
    {{/if}}
    {{> prompt}}
    {{> today}}
    {{> inbox}}
    {{> menu}}
    </div>
</template>