<template name="profile">
    <div class="px-4 py-5 my-5 text-center container">
    {{#if isInRole 'user'}}
        {{#if hasCompletedFistTimeAssessment}}
            {{#if assignment}}
                <br>
                <h4>Hello, {{currentUser.firstname}}. Let's continue on your journey.</h4>
                <div class="assessment" style="margin-top:5px;">
                    <br>
                    {{#if assignment.isAssessment}}
                    <button id="startAssessment" data-assessment-id="{{assignment._id}}" class="startAssessment btn btn-primary startAssessment">{{assignment.title}}</button>
                    {{/if}}
                    {{#if assignment.isModule}}
                    <button id="startModule" data-assessment-id="{{assignment._id}}" class="startModule btn btn-primary startAssessment">{{assignment.title}}</button>
                    {{/if}}
                    <br>
                </div>
            {{else}} 
                <div class="container">
                    <ul class="nav nav-tabs" style>
                        <li class="nav-item">
                        <a class="nav-link active" id="toggle-month-view" aria-current="page" href="profile">Menu</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link active" id="toggle-month-view" aria-current="page" href="goals">Goals</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link toggle-agenda-view" href="certifcates">Certificates</a>
                        </li>
                    </ul>
                </div>
                <br>
                <button id="calendar" class="btn btn-primary btn-wide">
                    <h4><span class="glyphicon glyphicon-calendar"></span> Calendar</h4>
                </button>
                <button id="journal" class="btn btn-primary btn-wide">
                    <h4><span class="glyphicon glyphicon-pencil"></span> Add To Thought Log</h4>
                </button>
                <button id="journal" class="btn btn-primary btn-wide">
                    <h4><span class="glyphicon glyphicon-leaf"></span> Mindfulness Exercises</h4>
                </button>
                <button id="dashboard" class="btn btn-primary btn-wide">
                    <h4><span class="glyphicon glyphicon-stats"></span> Dashboard</h4>
                </button>
                <button id="moduleCenter" class="btn btn-primary btn-wide">
                    <h4><span class="glyphicon glyphicon-repeat"></span> Review Modules</h4>
                </button>
            {{/if}}
        {{else}}
            {{> welcome}}
        {{/if}}
    {{else}}
    <h4>{{currentUser.firstname}}'s Dashboard</h4>
    <br>
        <button id="controlPanel" class="btn btn-primary btn-wide">
            <h4><span class="glyphicon glyphicon-cog"></span> Control Panel</h4>
        </button>
        <button id="calendar" class="btn btn-primary btn-wide">
            <h4><span class="glyphicon glyphicon-calendar"></span> Calendar</h4>
        </button>
    {{/if}}
    </div>
</template>