<template name="profile">
    <div class="px-4 py-5 my-5 text-center container">
       {{#if assignment}}
       <h1>Let's start here today.</h1>
       <h4>To continue, please complete the following.</h4>
        <div class="assessment" style="margin-top:5px;">
            <hr>
            <h4>{{assignment.title}}</h4>
            <p>{{assignment.description}}</p>
            {{#if assignment.isAssessment}}
            <button id="startAssessment" data-assessment-id="{{assignment._id}}" class="startAssessment btn btn-primary startAssessment">Begin {{assignment.title}}</button>
            {{/if}}
            {{#if assignment.isModule}}
            <button id="startModule" data-assessment-id="{{assignment._id}}" class="startModule btn btn-primary startAssessment">Begin {{assignment.title}}</button>
            {{/if}}
        </div>
       {{else}}
       <h1>Hello there, {{currentUser.firstname}}.</h1>
       {{#if isInRole 'user'}}
        <button id="dashboard" class="btn btn-primary btn-wide">
            <h4><span class="glyphicon glyphicon-dashboard"></span> Dashboard</h4>
            </button>
            <button id="moduleCenter" class="btn btn-primary btn-wide">
            <h4><span class="glyphicon glyphicon-repeat"></span> Review Modules</h4>
            </button>
            <button id="assessmentCenter" class="btn btn-primary btn-wide">
            <h4><span class="glyphicon glyphicon-repeat"></span> Retake Assessments</h4>
            </button>
            <button id="journal" class="btn btn-primary btn-wide">
                <h4><span class="glyphicon glyphicon-bookmark"></span> Add Journal Entry</h4>
                </button>
        {{else}}
        <button id="controlPanel" class="btn btn-primary btn-wide">
        <h4><span class="glyphicon glyphicon-cog"></span> Control Panel</h4>
        </button>
        {{/if}}
        <button id="calendar" class="btn btn-primary btn-wide">
        <h4><span class="glyphicon glyphicon-calendar"></span> Calendar</h4>
        </button>

       {{/if}}
       {{#if certifcates}}
       <hr>
       <h4>Certifcates</h4>
            <p>Download earned certifcates as PDF</p>
            <table class="table" id="subscalesAggregates">
                <thead>
                    <th scope="col" width="100%">Certificate</th>
                </thead>
                <tbody> 
                    {{#each certificates}}
                    <tr>
                        <td>
                            <a href="{{this.link}}">{{this.moduleTitle}}</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>                    
            </table>
        {{/if}}
    </div>
</template>