<template name="signup">
  {{#if linkId}}
    <p>You were invited to {{orgName}} by {{supervisorName}}.</p>
  {{else}}
    <p>Welcome to OJI. This sign up form is for new Administrators.</p>
  {{/if}}
    <form>
        <label htmlFor="username">User Name</label>

        <input
        id="usernameSignin"
        type="text"
        placeholder="Username"
        name="username"
        required
      />
      <br>

      <label htmlFor="password">Password</label>

      <input
        id="passwordSignin"
        type="password"
        placeholder="Password"
        name="password"
        required
      />
      <br>
        <label htmlFor="email">Email</label>
        
        <input
        id="emailSignin"
        type="email"
        placeholder="you@domain.com"
        name="email"
        required
        />
        <br>

        <label htmlFor="firstname">First Name</label>

        <input
        id="firstnameSignin"
        type="text"
        placeholder="First Name"
        name="firstname"
        required
        />
        <br>

        <label htmlFor="lastname">Last Name</label>
        <input
        id="lastnameSignin"
        type="text"
        placeholder="Last Name"
        name="lastname"
        required
        />
        <br>
        <input
        id="linkId"
        type="text"
        value="{{linkId}}"
        name="organization"
        required
        hidden
        />

  <button id="signup-submit">Sign Up</button>
    </form>
</template>