<template name="signup">
  <h1>Step 1:<br>Create your account.</h1>
  {{#if orgName}}
    <p>You were invited to {{orgName}} by {{supervisorName}}. To continue, we need you to create an account.</p>
  {{else}}
    <p>Welcome to OJI. This sign up form is for new Administrators. We'll have you create an organization after your account is created.</p>
  {{/if}}
    <form >
      <div class="form-floating mb-3">
        <label htmlFor="username">User Name</label>

        <input
        id="usernameSignin"
        type="text"
        placeholder="Username"
        name="username"
        class="form-control"
        required
      />
      <br>

      <label htmlFor="password">Password</label>

      <input
        id="passwordSignin"
        type="password"
        placeholder="Password"
        name="password"
        required
        class="form-control"
      />
      <br>
        <label htmlFor="email">Email</label>
        
        <input
        id="emailSignin"
        type="email"
        placeholder="you@domain.com"
        name="email"
        required
        class="form-control"
        />
        <br>

        <label htmlFor="firstname">First Name</label>

        <input
        id="firstnameSignin"
        type="text"
        placeholder="First Name"
        name="firstname"
        required
        class="form-control"
        />
        <br>

        <label htmlFor="lastname">Last Name</label>
        <input
        id="lastnameSignin"
        type="text"
        placeholder="Last Name"
        name="lastname"
        required
        class="form-control"
        />
        <label htmlFor="sex">Sex</label>
        <select
        id="sex"     
        name="sex"
        required
        class="form-control">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <br>
        <input
        id="linkId"
        type="text"
        value="{{linkId}}"
        name="organization"
        required
        hidden

        />

    <button class="btn btn-primary" id="signup-submit">Sign Up</button>
  </div>
    </form>
</template>