<template name="userAssessmentReportLanding">
    <div class="titlebar">
        <b>{{currentUser.firstname}}'s Dashboard</b>
    </div>
    <div class="container content text-center">
        {{#if trialsList}}
        <div class="profileCard">
            <h3>Assessment Reports</h3>
        <p>Below are a list of the results of assessments you have completed.</p>
        {{#each trialsList}}

                    <a id="viewItemButton" href="{{this.link}}">
                        {{this.assessmentName}}
                    </a>
                    <br>
                    <br>

        {{/each}}
    </div>
        {{else}}
        <div class="profileCard">
            <h3>No Assessments Completed</h3>
            <p>Please return when all of your assessments are done.</p>
            </div>
        {{/if}}
        {{> menu}}
    </div>
</template>