
/* Main Elements */
body{
    background-attachment:fixed;
    background-size: cover;
    background-image: url("/main-background.jpg");
    color:white;
}
#container-yield{
    background-color:  rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top:50px;

}
.navbar{
    background-color: rgba(0, 0, 0, 0.5);
    height: 60px;
    font-size: 22px;
    margin-bottom: 50px;
}
a {
    color:white;
}
.btn-wide{
    width:100%;
}
select { 
    /* Whatever color  you want */
    background-color:black;
    color:white;
}

.alert{
    margin-bottom: 50px;
    margin-top:10px;
    width:100%;
}
.row{
    padding-right: 30px;
}
.nav-link span{
    font-size:25px;
    width:20px;
    text-align: center;
    color:#e26b4d;
    line-height: 30px;
    text-align: center;
}
.nav-link .orgLogo{
    background-color:#22847f;
    font-size:20px;
    padding: 8px;
    border-radius: 100px;
    text-align: center;
    line-height: 20px;
    color:white;
    height:30px;
}
.btn{
    margin-bottom:20px;
    white-space: normal;
}
.btn-caution{
    background-color: #e26b4d;
}
.btn-primary{
    background-color: #22847f;
}
.btn-secondary{
    background-color: #22847f;

}
.btn-info{
    border-color: #e26b4d;
    border-width: 5px;
}
.calendar-today {
    background-color: #22847f;
}
.nav-calendar{
    text-align:center;
}
input, option, textarea {
    color:white;
    background-color: black;
    border: none;
}
.tab{
    background-color: rgba(0, 0, 0, 0.5);
}
.login input, .code input{
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #e26b4d;
    border-radius: 50px;
    margin-top: 0px;
    color: #e26b4d;
}

.footer-container{
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1);
    margin-top: 10px;
    width:100%;
    border-radius: 5px;
    height: 50px;
}
.footer-div{
    text-align: center;
}
#footer p{
    text-align: center;
}
#mark{
    vertical-align: bottom;
    display: inline;
}
/* Branding */
img #logo-color{
    height:40px;
    background-image: url('/logo.png');
}
#large-logo-color{
    margin:20px 00px 20px 20px;
    background-image: url('/logo.png');
    max-width:100px;
    border-radius: 20px;
}
