
/* Main Elements */
body{
    /* gradient background */
    background-image: linear-gradient(to right, #b4573f, #13504d);
    color:white;
}
#container-yield{
    width:100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0%;
    padding-right: 0%;
    /* fade in background */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));
}
.titlebar{
    width:100%;
    padding-top:10px;
    padding-left:20px;
    font-optical-sizing: auto;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-style: bold;
    font-stretch: condensed;
    font-size:20px;
    color:#a18d87;
}
.titlebar{
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-style: bold;
    font-stretch: condensed;
    font-size:20px;
    color:white;
    margin-bottom: 
}
.content{
    background-attachment:fixed;
    background-size: cover;
    background-image: url("/main-background.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 10vw;
    border-top-left-radius: 10vw;
    min-height: 100vh;
    width:100%;
    padding-top: 30px;
    /* top box shadow */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6{
    color:white;
    margin-left:20px;
    margin-right: 20px;
}
.btn{
    border-radius: 20px;
}
.menu{
    width: 100%;
    margin-top: 10px;
}
.menu #logo-color{
    border-radius: 5px;
    width: 50px;
    height: 50px;
}
.userBadge{
    position: fixed;
    top: 0;
    right: 0;
    width:30vh;
    max-width: 70px;
    height: 100vh;
}
#userBadge{
    background-image: linear-gradient(to top, #e26b4d, #22847f);
    color:white;
    font-size: 15px;
    line-height: 15px;
    border-radius: 50px;
    margin-top:10px;
    margin-left: 100%;
    padding: 10px;
    width:30px;
    height:30px;
    text-align: center;
}
#userBadge:hover{
    background-image: linear-gradient(to top, #e26b4d, #22847f);
}
.menu-container{
    padding:10px;
    width:100%;
    border-radius: 10px;
    text-align: center;
}
.daySelector{
    background-image: linear-gradient(to top, #110806, #061b1a);
    color: white;
    border-radius: 10px;
    padding-top:30px;
    padding-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top:20px;
    animation-name: fadeInUp;
    animation-duration: 1s;
    /* box shadow */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    font-family: 'Arvo', serif;
}
.message{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    font-family: 'Arvo', serif;
    border-radius: 30px;


}
.messageDate{
    max-width: 80px;
}
.messageDateSmall{
    max-width: 120px;
}
.messageDate h2, .messageDateSmall h2{
    color: #e26b4d;
    border: #061b1a 1px solid;
    padding-left: 10px;
    background-image: linear-gradient(to top, #e26b4d, #22847f);
    padding: 30px;
    color: white;
    border-radius: 30px;
    font-size: 15px;
    max-width: 150px;

}
.eventTime-Critical h2{
    color: #e26b4d;
    border: #061b1a 1px solid;
    padding-left: 10px;
    background-image: linear-gradient(to top, #e24d4d, #842222);
    padding: 30px;
    color: white;
    border-radius: 30px;
}
.eventSelector{
    background-image: linear-gradient(to top, #421f17, #124e4b);
    color: white;
    border-radius: 10px;
    padding-top:30px;
    padding-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top:20px;
    animation-name: fadeInUp;
    animation-duration: 1s;
    /* box shadow */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    font-family: 'Arvo', serif;
    width:80%;
    margin: auto;
    display: block;

}
.eventTime-Low, .eventTime-Medium, .eventTime-Critical{
    max-width: 100px;
}
.eventTime-Low h2, .eventTime-Medium h2{
    color: #e26b4d;
    border: #061b1a 1px solid;
    padding-left: 10px;
    background-image: linear-gradient(to top, #e26b4d, #22847f);
    padding: 30px;
    color: white;
    border-radius: 30px;
}
.eventTitle{
    vertical-align: middle;
    text-align: left;
}
.event{
    width:100%;
    border: #061b1a 1px solid;
    animation: fadeInUp 1s;
    
}
.daySelect{
    border: #22847f 1px solid;
    font-size: 15px;
    line-height: 30px;
    border-radius:30x;
    color: white;
    padding: 10px;
    min-width:30px;
    min-height:30px;
    margin-right: 5px;
}
.today-true{
    border: #cc3232 1px solid;
}
.menuItem{
    background: #22847f;
    font-size: 15px;
    line-height: 30px;
    border-radius:30x;
    color: white;
    padding: 10px;
    min-width:30px;
    min-height:30px;
    margin-right: 10px;
}
.cardIcon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 15px;
}
/* fade in and up  animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}
/* fade out and down animation */
@keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}
#activateMenu{
    color: #22847f;
    font-size: 20px;
}
.navbar{
    height: 50px;
    font-size: 22px;
    margin-bottom: 50px;
}
.alert{
    background-image: linear-gradient(to top, #e26b4d, #22847f);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top:20px;
    animation-name: fadeInUp;
    animation-duration: 1s;
    /* box shadow */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    
}
.profileCard{
    background-image: linear-gradient(to top, #492117, #0d312f);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top:20px;
    animation-name: fadeInUp;
    animation-duration: 1s;
    /* box shadow */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.profileCard p{
    margin-left:20px;
}
.profileCard [hidden]{
    animation: fadeOutDown 1s;

}
.profileCard label{
    margin-left:20px;
}
.profileCard input, select{
    margin-left:20px;
    max-width: 80%;
}
.profileCard select{
    margin-left:20px;
}
.profileCard button{
    margin-left:20px;
}
.menuCard{
    background-image: linear-gradient(to top, #110806, #061b1a);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top:20px;
    animation-name: fadeInUp;
    animation-duration: 1s;
    /* box shadow */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.profileCardNext{
    background-image: linear-gradient(to top, #e26b4d, #22847f);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top:20px;
    animation-name: fadeInUp;
    animation-duration: 1s;
    /* box shadow */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.profileCard h3, .profileCardNext h3, .menuCard h3{
    font-family: 'Arvo', serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: bold;
    font-stretch: condensed;
    font-size:25px;
    margin-bottom: 20px;
}
a {
    color:white;
}
.btn-wide{
    width:100%;
}
select { 
    /* Whatever color  you want */
    background-color:black;
    color:white;
}

.alert{
    margin-bottom: 50px;
    margin-top:10px;
    width:100%;
}
.row{
    padding-right: 30px;
}
.nav-link span{
    font-size:20px;
    width:10px;
    text-align: center;
    color:#e26b4d;
    line-height: 30px;
    text-align: center;
}
.nav-link .orgLogo{
    background-color:#22847f;
    font-size:10px;
    padding: 8px;
    border-radius: 100px;
    text-align: center;
    line-height: 20px;
    color:white;
    height:15px;
}
.btn{
    margin-bottom:20px;
    white-space: normal;
}
.btn-caution{
    background-color: #e26b4d;
}
.btn-primary{
    background-color: #22847f;
}
.btn-secondary{
    background-color: #22847f;

}
.btn-color-red{
    background-color:  	#cc3232;
}
.btn-color-green{
    background-color:  	#99c140;
    color: black;
}
.btn-color-yellow{
    background-color: #e7b416;
    color: black;
}
.btn-color-selected{
    border: 5px solid white;
}
p ul{
    margin-left: 20px;
    text-align: left;
}
.btn-info{
    border-color: #e26b4d;
    border-width: 5px;
}
.answer, .resume, .return, .begin{
    width:80%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.readTTS{
    margin-left: 0px !important;
    background-color: transparent;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: linear-gradient(to top, #e26b4d, #22847f);
}
.readTTS-solo{
    background-color: transparent;
    border: none;

}
.calendar-today-true {
    background-color: #22847f;
}
.nav-calendar{
    text-align:center;
}
input, option, textarea, select {
    color:white;
    background-color: black;
    border: none;
    width: 90%;
    min-height: 30px;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px;
}
.tab{
    background-color: rgba(0, 0, 0, 0.5);
}
.login input, .code input{
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #e26b4d;
    border-radius: 50px;
    margin-top: 0px;
    color: #e26b4d;
}

.footer-container{
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1);
    margin-top: 10px;
    width:100%;
    border-radius: 5px;
    height: 50px;
}
.footer-div{
    text-align: center;
}
#footer p{
    text-align: center;
}
#mark{
    vertical-align: bottom;
    display: inline;
}
/* Branding */
img #logo-color{
    height:40px;
    background-image: url('/logo.png');
}
#large-logo-color{
    margin:20px 00px 20px 20px;
    background-image: url('/logo.png');
    max-width:100px;
    border-radius: 20px;
}
.messageView{
    height:50px;
    border-top: 1px white;
    border-bottom: 1px white;
    margin-right: 50px;
}
